<form action="/branches/">
  <h5>Search branches with top k revenue</h5>
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      name="topK"
      placeholder="Search for branches that have top > .... revenue (enter a number)"
      value="<%= topK %>"
    />
    <button type="submit" class="btn-primary btn">Search</button>
  </div>
</form>